body {
  margin: 0;
}
header {
  position: absolute;
  z-index: 666;
  width: 1840.34px;
  height: 37px;
  left: 39.83px;
  right: 39.83px;
  top: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #leftSide {
  display: flex;
}
header #leftSide > img {
  width: 124px;
  cursor: pointer;
}
header #leftSide ul {
  display: flex;
}
header #leftSide ul li {
  list-style: none;
}
header #leftSide ul li a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
  font-family: Proxima Nova;
  font-size: 16px;
  line-height: 19px;
}
header #rightSide button {
  background: #2863FD;
  border-radius: 100px;
  border: none;
  font-family: Proxima Nova;
  font-size: 16px;
  padding: 12px 30px;
  line-height: 16px;
  margin-left: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
#hero {
  border: solid red;
  position: absolute;
  width: 1920px;
  height: 780px;
  left: 0px;
  top: 0px;
  background: linear-gradient(291.89deg, #000000 3.28%, #002347 68.98%, #002B58 100%);
}
