body {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
}
body .line {
  width: 60px;
  height: 4px;
  background: #2863FD;
  border-radius: 10px;
}
body li {
  list-style: none;
}
body button {
  outline: none;
  cursor: pointer;
}
header {
  position: absolute;
  z-index: 666;
  width: 1840.34px;
  height: 37px;
  left: 39.83px;
  right: 39.83px;
  top: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #leftSide {
  display: flex;
}
header #leftSide > img {
  width: 124px;
  cursor: pointer;
}
header #leftSide ul {
  display: flex;
}
header #leftSide ul .mini {
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  top: -5px;
  left: 50px;
}
header #leftSide ul #hiddenPart {
  display: none;
  position: absolute;
  top: 37px;
  width: 788px;
  height: 161px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
}
header #leftSide ul #hiddenPart section {
  padding: 0;
  margin-right: 37px;
  text-align: left;
  line-height: 24px;
}
header #leftSide ul #hiddenPart > section > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
header #leftSide ul #hiddenPart > section > ul a {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
}
header #leftSide ul #hiddenPart > section > ul a:hover {
  color: #2863FD;
}
header #leftSide ul #hiddenOfResources {
  display: none;
  position: absolute;
  top: 37px;
  left: 480px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
header #leftSide ul #hiddenOfResources a {
  color: #000000;
  line-height: 24px;
  font-size: 16px;
}
header #leftSide ul #hiddenOfResources a:hover {
  color: #2863FD;
}
header #leftSide ul #solutions:hover #hiddenPart {
  display: flex;
}
header #leftSide ul #resources:hover #hiddenOfResources {
  display: block;
}
header #leftSide ul li {
  list-style: none;
}
header #leftSide ul li a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
  font-size: 16px;
  line-height: 19px;
}
header #leftSide ul li a:hover {
  color: #2863FD;
}
header #rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #rightSide a {
  cursor: pointer;
}
header #rightSide #freeTrial {
  background: #2863FD;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 12px 30px;
  margin-left: 32px;
  color: #FFFFFF;
  cursor: pointer;
}
header #rightSide #menuBar {
  font-size: 30px;
  border: none;
  background: none;
  color: #FFFFFF;
  display: none;
  margin-left: 32px;
}
header #rightSide button:hover {
  background: #0741B0;
}
#hero {
  position: absolute;
  width: 1920px;
  height: 780px;
  left: 0px;
  top: 0px;
  background: linear-gradient(291.89deg, #000000 3.28%, #002347 68.98%, #002B58 100%);
}
#hero #heroText {
  position: absolute;
  top: 277px;
  left: 290px;
  width: 658px;
  height: 250px;
}
#hero #heroText h1 {
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 0;
}
#hero #heroText h4 {
  font-size: 40px;
  font-weight: 100;
  color: #FFFFFF;
  margin: 30px 0 0 0;
}
#hero img {
  position: absolute;
  width: 804px;
  height: 542px;
  right: 147px;
  top: 140px;
}
#weLove {
  width: 1920px;
  height: 780px;
  position: absolute;
  left: 0;
  top: 780px;
}
#weLove #mainOfweLove {
  position: absolute;
  left: 388px;
  top: 140px;
  width: 1144px;
}
#weLove #mainOfweLove > section:first-of-type > h2:first-of-type {
  color: #000000;
  line-height: 42px;
  width: 752px;
  height: 34.41px;
}
#weLove #mainOfweLove h2 {
  width: 752px;
  height: 34.41px;
  font-size: 32px;
  line-height: 42px;
  color: #2863FD;
}
#weLove #mainOfweLove #theFourReasons {
  margin-top: 64px;
  color: #000000;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
}
#weLove #mainOfweLove #theFourReasons > img {
  width: 121px;
}
#weLove #mainOfweLove #theFourReasons p {
  width: 260px;
}
#weLove #mainOfweLove #theFourReasons > section {
  height: 250px;
  margin-right: 31px;
}
#team {
  width: 1920px;
  height: 706px;
  position: absolute;
  top: 1560px;
}
#team #teamGlory {
  width: 530px;
  position: absolute;
  left: 388px;
  bottom: 280px;
}
#team #teamGlory span {
  color: #2863FD;
}
#team #teamGlory h2 {
  font-size: 32px;
  line-height: 42px;
  height: 65.97px;
}
#team #teamGlory h4 {
  height: 131.01px;
  font-family: Proxima Nova;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  font-weight: 100;
}
#team #lightBlue {
  position: absolute;
  top: 0;
  right: 0;
  width: 751px;
  height: 526px;
  background: #F1F8FF;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
#team img {
  position: absolute;
  top: 40px;
  right: 384px;
  width: 533px;
  height: 446px;
}
#smallSection {
  height: 424px;
  width: 1920px;
}
#smallSection #light {
  position: absolute;
  top: 2196px;
  left: 916px;
  width: 1004px;
  height: 424px;
  background: #F1F8FF;
  opacity: 0.5;
}
#smallSection #chat {
  z-index: 999;
  position: absolute;
  width: 1920px;
  height: 344px;
  top: 2236px;
  background: linear-gradient(312.34deg, #000000 3.28%, #002347 68.98%, #002B58 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#smallSection #chat h2 {
  width: 464px;
  height: 34.15px;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  font-weight: 100;
}
#smallSection #chat h2 span {
  font-weight: bold;
}
#smallSection #chat button {
  width: 133px;
  height: 37px;
  background: #2836FD;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  position: absolute;
  top: 191px;
  left: auto;
  cursor: pointer;
  margin-top: 40px;
}
#smallSection #chat button:hover {
  background: #0741B0;
}
#reviews {
  width: 1920px;
  height: 915px;
  position: absolute;
  top: 2620px;
  left: 0;
}
#reviews #lightStyle {
  width: 971px;
  height: 488px;
  margin-top: 286px;
  background: #F1F8FF;
  opacity: 0.5;
}
#reviews #customers {
  position: absolute;
  top: 180px;
  left: 389px;
  width: 1091px;
}
#reviews #customers > span {
  color: #0741B0;
  font-weight: 800;
}
#reviews #customers button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #FFFFFF;
  color: #0741B0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#reviews #customers #leftButton {
  position: absolute;
  left: -25px;
  top: 303px;
}
#reviews #customers #rightButton {
  position: absolute;
  right: -25px;
  top: 303px;
}
#reviews #customers #comments {
  width: 100%;
  height: 407px;
  background: #002B58;
  margin-top: 66px;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
#reviews #customers #comments #text {
  width: 86%;
  height: 216px;
  position: absolute;
  left: 70px;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reviews #customers #comments #text #here {
  line-height: 42px;
  text-align: left;
}
#reviews #customers #comments #text #author {
  position: absolute;
  top: 250px;
  left: 681px;
  font-weight: bold;
}
footer {
  width: 1920px;
  height: 700px;
  background: linear-gradient(293.97deg, #002347 1.74%, #002B58 100%);
  position: absolute;
  top: 3540px;
}
footer li {
  cursor: pointer;
}
footer #mainFooter {
  display: flex;
  justify-content: space-between;
}
footer #mainFooter #container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 380px;
  width: 810px;
}
footer #mainFooter #container section {
  text-align: left;
}
footer #mainFooter #container section h5 {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 40px;
}
footer #mainFooter #container section ul {
  margin: 0;
  padding: 0;
}
footer #mainFooter #container section ul li {
  font-size: 14px;
  line-height: 22px;
  /* or 160% */
  color: #ACB4BF;
}
footer #mainFooter #contacts {
  margin-top: 52px;
  margin-right: 360px;
}
footer #mainFooter #contacts #socialMediaIcons {
  display: flex;
  justify-content: space-between;
  width: 157px;
  height: 17px;
}
footer #mainFooter #contacts #socialMediaIcons img {
  width: 16px;
}
footer #mainFooter #contacts #findUs {
  width: 270px;
  height: 93px;
  text-align: left;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #ACB4BF;
}
footer #mainFooter #contacts #findUs ul {
  margin: 0;
  padding: 0;
}
footer #mainFooter #contacts #rating {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}
footer #mainFooter #contacts #rating img {
  width: 145px;
  height: 66px;
}
footer #mainFooter #contacts #rating a {
  text-decoration: none;
  color: #ACB4BF;
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
}
footer #copyRight {
  display: flex;
  justify-content: space-between;
  width: 1239px;
  height: 27px;
  margin-left: 380px;
  font-size: 14px;
  line-height: 24px;
  color: #ACB4BF;
  margin-top: 42px;
}
footer #copyRight ul {
  margin: 0;
  padding: 0;
  display: flex;
}
footer #copyRight ul li {
  margin: 0 10px;
}
footer #copyRight ul li:first-of-type {
  color: #2863FD;
}
@media only screen and (max-width: 992px) {
  header {
    width: 890px;
  }
  header #leftSide ul {
    display: none;
  }
  header #rightSide #menuBar {
    display: inline-block;
    cursor: pointer;
  }
  #hero {
    width: 992px;
  }
  #hero #heroText {
    position: absolute;
    top: 144px;
    left: 28px;
    width: 540px;
    height: 166px;
  }
  #hero #heroText h1 {
    font-size: 40px;
    line-height: 52px;
  }
  #hero #heroText h4 {
    font-size: 32px;
  }
  #hero img {
    width: 608px;
    height: 410px;
    right: 26px;
    top: 336px;
  }
  #weLove {
    height: 1050px;
    width: 992px;
  }
  #weLove #mainOfweLove {
    top: 100px;
    left: 27px;
    width: 820px;
  }
  #weLove #mainOfweLove #theFourReasons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    height: auto;
  }
  #weLove #mainOfweLove #theFourReasons > section {
    margin-top: 50px;
  }
  #team {
    top: 1835px;
    width: 992px;
    height: 545px;
  }
  #team #teamGlory {
    left: 25px;
    bottom: 200px;
    width: 430px;
  }
  #team #teamGlory h2 {
    font-size: 24px;
    margin-top: 0;
  }
  #team #teamGlory h4 {
    height: 156px;
    width: 435px;
  }
  #team #lightBlue {
    width: 336px;
    height: 423px;
  }
  #team img {
    top: 32px;
    right: 38px;
    width: 428px;
    height: 358px;
  }
  #smallSection {
    width: 992px;
  }
  #smallSection #light {
    top: 2365px;
    width: 539px;
    left: 453px;
  }
  #smallSection #chat {
    top: 2410px;
    width: 992px;
  }
  #reviews {
    top: 2790px;
    width: 992px;
  }
  #reviews #customers {
    width: 891px;
    top: 100px;
    left: 27px;
  }
  #reviews #customers #comments {
    height: 407px;
  }
  #reviews #customers #text {
    height: 238px;
    width: 755px;
  }
  #reviews #customers #text span {
    position: absolute;
    top: -50px;
    left: -190px;
    width: 269px;
  }
  #reviews #lightStyle {
    width: 579px;
    margin-top: 196px;
  }
  footer {
    width: 992px;
    height: auto;
  }
  footer #container {
    margin-left: 20px !important;
    width: 690px;
  }
  footer #contacts {
    margin-right: 20px !important;
    margin-left: 50px;
  }
  footer #contacts #findUs {
    width: 200px !important;
  }
  footer #copyRight {
    width: 952px;
    margin-left: 20px !important;
  }
}
@media only screen and (max-width: 360px) {
  #leftButton {
    display: none;
  }
  #rightButton {
    display: none;
  }
}
