body {
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    }
    .line {
        width: 60px;
        height: 4px;
        background: #2863FD;
        border-radius: 10px;
    }
header {
    position: absolute;
    z-index: 666;
    width: 1840.34px;
    height: 37px;
    left: 39.83px;
    right: 39.83px;
    top: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    #leftSide {
        display: flex;
        >img {
            width: 124px;
            cursor: pointer;
        }
        ul {
            display: flex;
            li{
                list-style: none;
                
                a {
                    color: white;
                    text-decoration: none;
                    margin: 0 16px;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }

    #rightSide {
            a {
                cursor: pointer;
            }
            button {
            background: #2863FD;
            border-radius: 100px;
            border: none;
            font-size: 16px;
            padding: 12px 30px;
            line-height: 16px;
            margin-left: 32px;
            color: #FFFFFF;
            cursor: pointer;
            }
            
            button:hover {
                background: #0741B0;
            }
    }
}

    // THE HEADER STYLING IS DONE!!!///////////////////////////////////////

#hero {
position: absolute;
width: 1920px;
height: 780px;
left: 0px;
top: 0px;
background: linear-gradient(291.89deg, #000000 3.28%, #002347 68.98%, #002B58 100%);

    #heroText {
        h1 {
            position: absolute;
            width: 658px;
            height: 121.2px;
            left: 290.94px;
            top: 277.81px;
            font-size: 48px;
            line-height: 62px;
            /* or 130% */
            color: #FFFFFF;
            }

        h4 {
            position: absolute;
            width: 658px;
            height: 45.86px;
            left: 290.94px;
            top: 429.81px;
            font-size: 40px;
            font-weight: 100;
            line-height: 52px;
            /* or 130% */
            color: #FFFFFF;
            }
        }
        img {
            position: absolute;
            width: 804px;
            height: 542px;
            right: 147px;
            top: 140px;
        }
}

////////HERO section finished///////////

#weLove {
    width: 1920px;
    height: 780px;
    position: absolute;
    left: 0;
    top: 780px;

    #mainOfweLove {
        position: absolute;
        left: 388px;
        top: 140px;
        width: 1144px;

        >div:first-of-type > h2:first-of-type {  //we Do what we lovee and...
            color: #000000;
            line-height: 42px;
            width: 752px;
            height: 34.41px;
            
        }
        h2 {
            width: 752px;
            height: 34.41px;
            font-size: 32px;
            line-height: 42px;
            color: #2863FD;

        }

        #theFourReasons {
            display: flex;
            margin-top: 64px;
            color: #000000;
            font-size: 18px;
            line-height: 27px;
            /* or 150% */
            display: flex;
            align-items: center;

            >img {
                 width: 121px;
             }

             p {
                 width: 260px;
             }

             >div {
                 height: 250px;
                 margin-right: 31px;
             }
        }
    }
}
////I think it's OK with #weLove section/////////////////////////////
#team {
    width: 1920px;
    height: 706px;
    position: absolute;
    top: 1560px;

        #teamGlory {
            width: 530px;
            position: absolute;
            left: 388px;
            bottom: 280px;
                span {
                    color: #2863FD;
                }
                h2 {
                    font-size: 32px;
                    line-height: 42px;
                    /* or 130% */
                    width: 530px;
                    height: 65.97px;
                }
                h4 {
                    width: 530px;
                    height: 131.01px;
                    font-family: Proxima Nova;
                    font-size: 18px;
                    line-height: 27px;
                    /* or 150% */
                    color: #000000;
                    font-weight: 100;
                }
        }

        #lightBlue {
            position: absolute;
            top: 0;
            right: 0;
            width: 751px;
            height: 526px;
            background: #F1F8FF;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        img {
            position: absolute;
            top: 40px;
            right: 384px;
            width: 533px;
            height: 446px;
        }

}

// #TEAM section is finished too/////////////////////


