body {
  margin: 0;
}
header {
  position: absolute;
  z-index: 666;
  width: 1840.34px;
  height: 37px;
  left: 39.83px;
  right: 39.83px;
  top: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'proxima-nova', sans-serif;
}
header #leftSide {
  display: flex;
}
header #leftSide > img {
  width: 124px;
  cursor: pointer;
}
header #leftSide ul {
  display: flex;
}
header #leftSide ul li {
  list-style: none;
}
header #leftSide ul li a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
  font-size: 16px;
  line-height: 19px;
}
header #rightSide a {
  cursor: pointer;
}
header #rightSide button {
  background: #2863FD;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 12px 30px;
  line-height: 16px;
  margin-left: 32px;
  color: #FFFFFF;
  cursor: pointer;
}
header #rightSide button:hover {
  background: #0741B0;
}
#hero {
  border: solid red;
  position: absolute;
  width: 1920px;
  height: 780px;
  left: 0px;
  top: 0px;
  background: linear-gradient(291.89deg, #000000 3.28%, #002347 68.98%, #002B58 100%);
}
#hero #heroText {
  font-family: 'proxima-nova', sans-serif;
}
#hero #heroText h1 {
  position: absolute;
  width: 658px;
  height: 121.2px;
  left: 290.94px;
  top: 277.81px;
  font-size: 48px;
  line-height: 62px;
  /* or 130% */
  color: #FFFFFF;
}
#hero #heroText h4 {
  position: absolute;
  width: 658px;
  height: 45.86px;
  left: 290.94px;
  top: 429.81px;
  font-size: 40px;
  font-weight: 100;
  line-height: 52px;
  /* or 130% */
  color: #FFFFFF;
}
#hero img {
  position: absolute;
  width: 804px;
  height: 542px;
  right: 147px;
  top: 140px;
}
#weLove {
  border: solid red;
  width: 1920px;
  height: 780px;
  color: red;
  position: absolute;
  left: 0;
  top: 780px;
}
#weLove #mainOfweLove {
  position: absolute;
  left: 388px;
  top: 140px;
  width: 1144px;
  font-family: 'proxima-nova', sans-serif;
}
#weLove #mainOfweLove > div:first-of-type > h2:first-of-type {
  color: #000000;
  line-height: 42px;
  width: 752px;
  height: 34.41px;
}
#weLove #mainOfweLove h2 {
  width: 752px;
  height: 34.41px;
  font-size: 32px;
  line-height: 42px;
  color: #2863FD;
}
#weLove #mainOfweLove .line {
  width: 60px;
  height: 4px;
  background: #2863FD;
  border-radius: 10px;
}
#weLove #mainOfweLove #theFourReasons {
  margin-top: 64px;
  color: #000000;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  display: flex;
  align-items: center;
}
#weLove #mainOfweLove #theFourReasons > img {
  width: 121px;
}
#weLove #mainOfweLove #theFourReasons p {
  width: 260px;
}
#weLove #mainOfweLove #theFourReasons > div {
  height: 250px;
  margin-right: 31px;
}
